* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif";
}
body {
  background-color: #b0c4de;
}
.container {
  background-color: white;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*move box to the center*/
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
}
.container h2 {
  font-size: 32px;
  margin-bottom: 40px;
  position: relative;
}
.container h2::after {
  content: "";
  width: 75px;
  height: 3px;
  border-radius: 3px;
  background: rgb(23, 124, 229);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%); /*center the line*/
}
.container blockquote {
  font-size: 26px;
  min-height: 110px;
}
.container blockquote::before,
.container blockquote::after {
  content: '"';
}
.container span {
  display: block;
  float: right;
  position: relative;
}
.container span::before {
  content: "";
  width: 20px;
  height: 2px;
  background: black;
  position: absolute;
  top: 50%;
  left: -30px;
}
.container div {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.container button {
  background-color: rgb(23, 124, 229);
  color: white;
  border-radius: 25px;
  border: 1px solid rgb(23, 124, 229);
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 18px;
}
.container button img {
  width: 25px;
  margin-right: 10px;
}
.container button:nth-child(2) {
  background: transparent;
  color: rgb(23, 124, 229);
}
